* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a, a:link, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/* Common */
nav, footer, header, section, main {
  display: block; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url("../assets/fonts/raleway/Raleway-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
  font-weight: 700; }

body {
  background: #e8eaf0;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  color: #2c3a4b;
  font-size: 16px;
  line-height: 1.5; }
  @media screen and (max-width: 560px) {
    body {
      font-size: 14px; } }

wrapper {
  width: 935.25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto; }
  @media screen and (max-width: 1279px) {
    wrapper {
      width: 100%;
      padding: 0;
      margin: 0 auto; } }
  @media screen and (max-width: 767px) {
    wrapper {
      padding: 0; } }

/*
This file is used to contain all layout imports.
It contains styles for the main layout components such as header, footer, navigation, etc..
*/
.page {
  width: 935.25px;
  max-width: 100%;
  min-height: 1318.7025px;
  display: flex;
  background: white; }
  @media screen and (max-width: 1279px) {
    .page {
      border-radius: 0px; } }
  @media screen and (max-width: 767px) {
    .page {
      width: 100%;
      flex-direction: column-reverse; } }

.main-section {
  width: 68%;
  min-height: 100%;
  padding-bottom: 40px;
  background: white;
  border-radius: 0 6px 6px 0; }
  @media screen and (max-width: 767px) {
    .main-section {
      width: 100%;
      border-radius: 0; } }
  @media screen and (max-width: 560px) {
    .main-section {
      padding-bottom: 35px; } }

.side-section {
  width: 32%;
  min-height: 100%;
  background: #4f4442;
  color: #ebe9d9;
  padding: 35px 30px; }
  @media screen and (max-width: 767px) {
    .side-section {
      width: 100%;
      min-height: auto;
      padding: 20px 35px 40px 35px;
      display: flex;
      flex-wrap: wrap;
      gap: 0 35px;
      align-items: flex-start; } }
  @media screen and (max-width: 560px) {
    .side-section {
      padding: 20px 15px 40px 15px; } }

.header {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  padding: 70px 30px;
  position: relative; }
  @media screen and (max-width: 1279px) {
    .header {
      flex-direction: column-reverse;
      align-items: end;
      padding: 35px 20px 0 20px; } }
  @media screen and (max-width: 767px) {
    .header {
      background: #4f4442;
      padding: 50px 35px 35px 35px; } }
  @media screen and (max-width: 560px) {
    .header {
      flex-direction: column;
      padding: 50px 15px 35px 15px;
      margin-bottom: 0px; } }

.title {
  color: #d2b18e;
  text-transform: uppercase;
  margin: 25px 0;
  font-family: 'Raleway-ExtraLight';
  font-size: 16px; }

.main-section h2.title {
  color: #a28266; }

.main-section h3.title {
  color: #2c3a4b;
  padding-bottom: 5px;
  margin: 25px 0 20px 0;
  border-bottom: 1px solid #a28266; }

h1.title {
  color: #2c3a4b;
  font-size: 40px;
  margin: 0;
  line-height: 1; }
  @media screen and (max-width: 767px) {
    h1.title {
      color: #ebe9d9; } }
  @media screen and (max-width: 560px) {
    h1.title {
      font-size: 34px; } }

h2.title {
  margin: 5px 0 0 0;
  font-size: 18px; }
  @media screen and (max-width: 560px) {
    h2.title {
      font-size: 16px; } }

.photo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-image: url("../assets/img/photo_1.jpg");
  background-repeat: no-repeat;
  background-position: 0 -20px;
  background-size: 115%;
  border-radius: 50%;
  opacity: 0.9; }
  @media screen and (max-width: 767px) {
    .photo {
      display: none; } }

.photo-mobile {
  display: none; }
  @media screen and (max-width: 767px) {
    .photo-mobile {
      display: block; } }
  @media screen and (max-width: 560px) {
    .photo-mobile {
      position: absolute;
      top: 50px;
      left: center; } }

.progress-bar {
  position: relative;
  width: 100%;
  height: 48px; }
  .progress-bar .progress {
    width: 100%;
    height: 4px;
    border: none;
    background-color: rgba(225, 225, 225, 0.15);
    position: absolute;
    top: 30px;
    left: 0; }
  .progress-bar .label {
    cursor: default;
    text-transform: uppercase;
    font-size: 14px; }
  .progress-bar .progress::-moz-progress-bar {
    border: none;
    background-color: #a28266; }
  .progress-bar .progress::-webkit-progress-bar {
    border: none;
    background-color: rgba(225, 225, 225, 0.15); }
  .progress-bar .progress::-webkit-progress-value {
    background-color: #a28266; }
  .progress-bar .scale .markup {
    height: 4px;
    width: 1px;
    position: absolute;
    top: 30px;
    background-color: #423938; }
  .progress-bar .scale .markup-20 {
    left: calc(20%); }
  .progress-bar .scale .markup-40 {
    left: calc(40%); }
  .progress-bar .scale .markup-60 {
    left: calc(60%); }
  .progress-bar .scale .markup-80 {
    left: calc(80%); }

.link {
  display: block;
  color: #ebe9d9;
  transition: color 0.2 ease; }
  .link:hover {
    color: #a28266; }

.link-main {
  color: #2c3a4b; }
  .link-main:hover {
    color: #a28266; }

.personal-info {
  width: 50%; }
  @media screen and (max-width: 1279px) {
    .personal-info {
      width: 100%;
      margin-top: 40px; } }
  @media screen and (max-width: 767px) {
    .personal-info {
      margin-top: 50px; }
      .personal-info .title.job {
        color: #d2b18e; } }
  @media screen and (max-width: 560px) {
    .personal-info {
      margin-top: 195px;
      text-align: center; } }

.contacts {
  width: 50%; }
  @media screen and (max-width: 1279px) {
    .contacts {
      max-width: 100%;
      width: 300px; } }
  @media screen and (max-width: 767px) {
    .contacts {
      width: 100%;
      display: flex;
      justify-content: space-between; } }
  @media screen and (max-width: 560px) {
    .contacts {
      justify-content: center; } }

.contacts-info {
  width: 100%; }
  @media screen and (max-width: 767px) {
    .contacts-info {
      width: 300px;
      margin-left: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  @media screen and (max-width: 560px) {
    .contacts-info {
      width: 270px;
      margin-left: 0;
      margin-top: 30px; } }

.location,
.phone,
.email,
.telegram {
  display: flex;
  align-items: center;
  color: #2c3a4b;
  transition: color 0.2 ease; }
  @media screen and (max-width: 767px) {
    .location,
    .phone,
    .email,
    .telegram {
      color: #ebe9d9; } }

a.email:hover,
a.phone:hover,
a.telegram:hover {
  color: #a28266; }

.icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.location-value,
.email-value,
.telegram-value {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #a28266;
  display: flex;
  align-items: center; }

.table {
  width: 100%;
  border-collapse: collapse;
  hyphens: auto; }
  .table thead {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px; }
  .table .colomn {
    vertical-align: top; }
  .table .colomn-1 {
    width: 40%;
    padding-right: 20px;
    border-right: 1px solid #a28266; }
    @media screen and (max-width: 1279px) {
      .table .colomn-1 {
        width: 35%;
        padding-right: 15px; } }
  .table .colomn-2 {
    width: 60%;
    padding-left: 20px;
    position: relative; }
    @media screen and (max-width: 1279px) {
      .table .colomn-2 {
        width: 65%;
        padding-left: 15px; } }
  .table .highlight {
    font-weight: bold;
    font-family: 'Roboto-Bold', sans-serif; }
  .table .highlight-upper {
    text-transform: uppercase; }
  .table ul {
    margin-top: 10px;
    margin-bottom: 20px; }
  .table ul.last {
    margin-bottom: 5px; }
  .table .padding {
    padding-bottom: 20px; }
  .table .padding.last {
    padding-bottom: 5px; }

.decor {
  width: 8px;
  height: 8px;
  background-image: url("../assets/cvg/circle.svg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: -4px; }

.article {
  padding: 0 30px; }
  @media screen and (max-width: 1279px) {
    .article {
      padding: 0 20px; } }
  @media screen and (max-width: 767px) {
    .article {
      padding: 0 35px; } }
  @media screen and (max-width: 560px) {
    .article {
      padding: 0 15px; } }
  .article.article-side {
    padding: 0; }
    @media screen and (max-width: 767px) {
      .article.article-side {
        min-width: 170px;
        flex-grow: 1;
        flex-basis: 0; } }

.main-section .article {
  padding-bottom: 15px; }

@media screen and (max-width: 767px) {
  .article-wrapper {
    min-width: 170px;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between; } }

.list .list-item {
  display: flex; }
  .list .list-item:not(:last-child) {
    margin-bottom: 15px; }
  .list .list-item .item-name {
    text-transform: uppercase;
    margin-right: 20px; }

.extra-features {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  width: 32px;
  height: 32px; }
  @media screen and (max-width: 1279px) {
    .extra-features {
      top: 35px;
      left: 20px; } }
  @media screen and (max-width: 767px) {
    .extra-features {
      top: 25px;
      left: auto;
      right: 35px; } }
  @media screen and (max-width: 560px) {
    .extra-features {
      top: 15px;
      right: 15px;
      width: 28px;
      height: 28px; } }

.loader {
  position: absolute;
  display: none;
  top: -20px;
  right: -20px;
  width: 80px;
  height: 80px; }
  @media screen and (max-width: 560px) {
    .loader {
      width: 64px;
      height: 64px;
      top: -15px;
      right: -15px; } }
