.header {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    @media screen and (max-width: $breakPointTablet) and (orientation: portrait) {
        flex-direction: column-reverse;
        align-items: end;
    }

    @media screen and (max-width: $breakPointMobal) {
        // position: relative;
    }
}