.header {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    padding: 70px 30px;
    position: relative;

    @media screen and (max-width: $breakPointTablet) {
        flex-direction: column-reverse;
        align-items: end;
        padding: 35px 20px 0 20px;
    }

    @media screen and (max-width: $breakPointMobal) {
        background: $bgDark;
        padding: 50px 35px 35px 35px;
    }

    @media screen and (max-width: $breakPointMobalMedium) {
        flex-direction: column;
        padding: 50px 15px 35px 15px;
        margin-bottom: 0px;
    }
}