.page {
    width: $paperWidth;
    max-width: 100%;
    min-height: $paperHeight;
    display: flex;
    background: $bgMainSection;
    border-radius: 6px;
    box-shadow: 5px 10px 30px rgba(70, 68, 68, 0.4);
}