.side-section {
    width: 32%;
    min-height: 100%;
    background: $bgDark;
    // border-radius: 6px 0 0 6px;
    color: $textColorLight;
    padding: 35px 30px;

    // @media screen and (max-width: $breakPointTablet) {
    //     border-radius: 0;
    // }

    @media screen and (max-width: $breakPointMobal) {
        width: 100%;
        min-height: auto;
        padding: 20px 35px 40px 35px;
        display: flex;
        flex-wrap: wrap;
        gap: 0 35px;
        align-items: flex-start;
    }

    @media screen and (max-width: $breakPointMobalMedium) {
        padding: 20px 15px 40px 15px;
    }
}