.link {
    display: block;
    color: $textColorLight;
    transition: color 0.2 ease;

    &:hover {
        color: $secondColor;
    }
}

.link-side {
    margin-bottom: 15px;
}

.link-main {
    color: $textColorDark;

    &:hover {
        color: $secondColor;
    }
}