.loader {
    position: absolute;
    display: none;
    top: -2px;
    right: -2px;
    width: 36px;
    height: 36px;

    @media screen and (max-width: $breakPointMobalMedium) {
        width: 32px;
        height: 32px;
    }
}