.loader {
    position: absolute;
    display: none;
    top: -20px;
    right: -20px;
    width: 80px;
    height: 80px;

    @media screen and (max-width: $breakPointMobalMedium) {
        width: 64px;
        height: 64px;
        top: -15px;
        right: -15px;
    }
}