.photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 60px;
    background-image: url('../assets/img/photo_1.jpg');
    background-repeat: no-repeat;
    background-position: 0 -20px;
    background-size: 115%;
    border-radius: 50%;
    opacity: 0.9;

    @media screen and (max-width: $breakPointMobal) {
        display: none;
    }
}

.photo-mobile {
    display: none;

    @media screen and (max-width: $breakPointMobal) {

        display: block;
    }

    @media screen and (max-width: $breakPointMobalMedium) {
        position: absolute;
        top: 50px;
        left: center;
    }
}