.photo {
    width: 100%;
    height: 150px;
    margin-bottom: 60px;

    @media screen and (max-width: $breakPointMobal) {
        display: none;
    }
}

.photo img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    opacity: 0.8;
}

.photo-mobile {
    display: none;

    @media screen and (max-width: $breakPointMobal) {
        display: block;
        margin: 0;
    }

    @media screen and (max-width: $breakPointMobalMedium) {
        position: absolute;
        top: 50px;
        left: 0;
    }
}