.title {
    color: $titleColor;
    text-transform: uppercase;
    margin: 25px 0;
    font-family: 'Raleway-ExtraLight';
    font-size: 16px;
}

.main-section h3.title {
    color: $textColorDark;
    padding-bottom: 5px;
    margin: 40px 0 20px 0;
    border-bottom: 1px solid $secondColor;
}

h1.title {
    color: $textColorDark;
    font-size: 40px;
    margin: 0;
    line-height: 1;

    @media screen and (max-width: $breakPointMobal) {
        color: $textColorLight;
    }
}

h2.title {
    margin: 5px 0;
    font-size: 18px;
}