$mainColor: rgb(66, 94, 86);
$secondColor: rgb(172, 149, 91);
// $secondColor: rgb(200, 136, 75);
$bgColor: rgb(232, 234, 240);
$bgMainSection: rgb(255, 255, 255);
$bgSideSection: $mainColor;
$bgProgressColor: rgba(225, 225, 225, 0.15);
$textColorLight: rgb(185, 187, 190);
$textColorDark: rgb(44, 58, 75);
$titleColor: $secondColor;

$paperWidth: 645px * 1.45;
$paperHeight: 1.41 * $paperWidth;