$mainColor: rgb(66, 94, 86);
$secondColor: #ac955b;
$bgColor: rgb(232, 234, 240);
$bgLight: rgb(255, 255, 255);
$bgDark: $mainColor;
$bgProgressColor: rgba(225, 225, 225, 0.15);
$textColorLight: rgb(185, 187, 190);
$textColorDark: rgb(44, 58, 75);
$titleColor: $secondColor;

$paperWidth: 645px * 1.45; //935
$paperHeight: 1.41 * $paperWidth;
$paperWidthTabletHoriz: 100%;

//break points
$breakPointTablet: 1279px;
$breakPointMobal: 767px;
$breakPointMobalMedium: 560px;