$mainColor: rgb(79,68,66);
$secondColor: rgb(162,130,102);
$thirdColor: rgb(210,177,142);
$bgColor: rgb(232, 234, 240);
$bgLight: rgb(255, 255, 255);
$bgDark: $mainColor;
$bgProgressColor: rgba(225, 225, 225, 0.15);
$textColorLight: rgb(235,233,217);
$textColorDark: rgb(44, 58, 75);

$paperWidth: 645px * 1.45; //935
$paperHeight: 1.41 * $paperWidth;
$paperWidthTabletHoriz: 100%;

//break points
$breakPointTablet: 1279px;
$breakPointMobal: 767px;
$breakPointMobalMedium: 560px;